body {
  margin: 0px;
  padding: 0px;
}
.uklad {
  display: block;
  margin: 0px;
  padding: 0px;
}
p {
  margin: 0px;
  padding: 0px;
}
.header {
  background: green;
  display: block;
  height: 150px;
  text-align: center;
}
.menu {
  background: red;
  width: 20%;
  height: 500px;
  display: block;
  float: left;
  text-align: center;
}
.glowna {
  background: pink;
  width: 60%;
  height: 500px;
  display: block;
  float: left;
  text-align: center;
}
.tekst{
  background: yellow;
  width: 20%;
  height: 500px;
  display: block;
  float: left;
  text-align: center;
}
.footer {
  background: blue;
  display: block;
  height: 150px;
  text-align: center;
  clear: both;
}
